body {
  background-color: #e5e7eb;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/Wallpaper-4993.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
